<!DOCTYPE html>
<html lang="en">
  <head>

{% block head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="/theme/js/paginator.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/lgw.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/accpaginator.css" />


{% endblock %}
</head>

<body>
    <div class="" id="content">
        {% block content_body %}
        {% endblock %}
    </div>
</body>
</html>
